@import "../../../styles.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-image: linear-gradient($secondaryLighterColor, $secondaryColor);
  height: calc(100vh - $nav-bar-height);
  width: 100vw;
  position: relative;
}

.tank-info-section {
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  z-index: 2;
}

.fish-container {
  z-index: 1;
  border: 2px solid red;
  position: absolute;
}
