<div class="content">
  <app-tank-info
    [userEmail]="authService.userEmail"
    [userId]="authService.userId"
    [tankUserIsViewing]="tankUserIsViewing"
    [tanks]="tanks"
    (toggleFishControls)="showFishControls = $event"
  ></app-tank-info>

  <div *ngIf="tankUserIsViewing && showFishControls" @fadeIn @fadeOut>
    <app-fish-stats-section [tank]="tankUserIsViewing"></app-fish-stats-section>
  </div>

  <div *ngIf="tankUserIsViewing">
    <div
      *ngFor="let fish of tankUserIsViewing.fishes"
      [ngSwitch]="fish.fishType"
    >
      <app-goldfish *ngSwitchCase="'goldfish'"></app-goldfish>
    </div>
  </div>
</div>
