@import "../../../styles.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-image: linear-gradient($secondaryLighterColor, $secondaryColor);
}

.tank-info-section {
  position: relative;
  z-index: 2;
}

.fish {
  position: relative;
  z-index: 1;
}
