.modal-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.fish-stats-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.fish-stats-bubble {
  width: 400px;
  padding: 4px;
}

// .fish-image-wrapper {
//   margin-left: auto;
// }
.fish-image {
  width: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-section {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.Happy {
  color: green;
}

.Hungry {
  color: orange;
}

.Dead {
  color: grey;
}

.fish-info-section {
  display: flex;
  flex-direction: row;
  align-items: top;
}
