<div class="header-container">
  <ul class="navbar-nav">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ tankUserIsViewing?.tankName || "Choose a tank" }}
      </button>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let tank of tanks">
          <button ngbDropdownItem (click)="setUserCurrentlyViewingTank(tank)">
            {{ tank.tankName }}
          </button>
        </div>

        <button ngbDropdownItem (click)="onCreateTank()">
          Create a tank +
        </button>
      </div>
    </div>

    <li class="nav-item active">
      <div ngbDropdown>
        <div class="user-button">
          <fa-icon [icon]="icon.faUser" ngbDropdownToggle></fa-icon>
        </div>

        <div class="dropdown-menu" ngbDropdownMenu>
          <span
            style="cursor: pointer"
            *ngIf="authService.user$ | async as user"
          >
            {{ user.email }}
          </span>

          <a ngbDropdownItem (click)="authService.logout()">Sign Out</a>
        </div>
      </div>
    </li>
  </ul>
</div>
