.fish-stats-bubble {
  width: 400px;
  padding: 4px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fish-image-wrapper {
  margin-left: auto;
}
.fish-image {
  width: 50px;
}

.content {
  display: flex;
}

.button-section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.Happy::after {
  color: green;
  // Insert content
  content: "Test";
}

.Hungry {
  color: orange;
}
