.fish-stats-bubble {
  width: 400px;
  padding: 4px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fish-image-wrapper {
  margin-left: auto;
}
.fish-image {
  width: 50px;
}
