<div class="tank-info-wrapper">
  <div ngbDropdown class="d-inline-block">
    <button
      type="button"
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      {{ tankUserIsViewing?.tankName || "Choose a tank" }}
    </button>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div *ngFor="let tank of tanks">
        <button ngbDropdownItem (click)="setUserCurrentlyViewingTank(tank)">
          {{ tank.tankName }}
        </button>
      </div>

      <button ngbDropdownItem (click)="onCreateTank()">Create a tank +</button>
    </div>
  </div>

  <!-- Replace this with a fish image or something -->
  <button class="btn btn-primary" (click)="onToggleFishControls()">
    Toggle Fish Controls
  </button>
</div>
