<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">
      <h1>Feed Your Fish</h1>
      <img class="navbar-logo-img" src="assets/goldfish-image.png" />
    </a>
    <div class="three navbar-toggler">
      <div
        class="hamburger"
        id="hamburger-1"
        (click)="isMenuCollapsed = !isMenuCollapsed"
        [class.is-active]="!isMenuCollapsed"
      >
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngIf="isAuth">
          <div ngbDropdown>
            <span class="nav-link-container">
              <fa-icon class="accept-button" [icon]="icon.faUser"></fa-icon>

              <a
                class="nav-link"
                style="cursor: pointer"
                ngbDropdownToggle
                *ngIf="authService.user$ | async as user"
              >
                {{ user.email }}
              </a>
            </span>

            <div class="dropdown-menu" ngbDropdownMenu>
              <a
                ngbDropdownItem
                (click)="isMenuCollapsed = true; authService.logout()"
                >Sign Out</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
