<div class="modal-header">
  <h4 class="modal-title">Add Fish to {{ tank.tankName }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <ngb-alert
    class="danger-alert"
    [dismissible]="true"
    [animation]="true"
    type="danger"
    *ngIf="showAlert"
  >
    {{ alertMessage }}
  </ngb-alert>
  <span class="loading-icon" *ngIf="!contentLoaded">
    <app-loading-spinner></app-loading-spinner>
  </span>

  <!-- Select a fish -->
  <div class="select-fish-section" *ngIf="!fishChosen">
    <h5>Choose a fish</h5>

    <div class="fish-image-wrapper">
      <!-- TODO I should have a fishType type that has the url to the image that can be dynamically used -->
      <img src="assets/goldfish-image.png" class="fish-image" />
    </div>
    <h5 class="fish-name">Goldfish</h5>

    <div class="next-button">
      <button (click)="onSelectFishType('goldfish')" class="btn btn-primary">
        Next
        <fa-icon
          class="accept-button"
          [icon]="iconService.faArrowRight"
        ></fa-icon>
      </button>
    </div>
  </div>

  <!-- Name the fish -->
  <div class="name-fish-section" *ngIf="fishChosen && !nameChosen">
    <h5>Name your {{ fishType }}</h5>

    <div class="fish-image-wrapper">
      <img src="assets/goldfish-image.png" class="fish-image" />
    </div>

    <div class="inputs-section">
      <input
        class="form-control"
        type="text"
        placeholder="Gerald"
        [(ngModel)]="fishName"
      />

      <button class="btn btn-primary" (click)="generateRandomName()">
        Generate name
      </button>
    </div>

    <div class="buttons-section">
      <div class="back-button">
        <button
          (click)="fishChosen = false; showAlert = false"
          class="btn btn-secondary"
        >
          Back
          <fa-icon
            class="accept-button"
            [icon]="iconService.faArrowLeft"
          ></fa-icon>
        </button>
      </div>
      <div class="next-button">
        <button (click)="nameFish()" class="btn btn-primary">
          Next
          <fa-icon
            class="accept-button"
            [icon]="iconService.faArrowRight"
          ></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- How will you feed your fish? -->
  <div class="name-fish-section" *ngIf="fishChosen && nameChosen">
    <h5>Almost done. How will you feed {{ fishName }}?</h5>

    <div class="fish-image-wrapper">
      <img src="assets/goldfish-image.png" class="fish-image" />
    </div>

    <div class="inputs-section">
      <label>Step 1</label>
      <input
        class="form-control"
        type="text"
        placeholder="Exercise for 30 minutes..."
        [(ngModel)]="step1"
      />
    </div>

    <div class="buttons-section">
      <div class="back-button">
        <button
          (click)="nameChosen = false; showAlert = false"
          class="btn btn-secondary"
        >
          Back
          <fa-icon
            class="accept-button"
            [icon]="iconService.faArrowLeft"
          ></fa-icon>
        </button>
      </div>
      <div class="next-button">
        <button (click)="addToTank()" class="btn btn-primary">
          Add to tank
          <fa-icon class="accept-button" [icon]="iconService.faAdd"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
