.select-fish-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.next-button {
  display: flex;
  justify-content: center;
}

.fish-image-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.fish-image {
  width: 50%;
}

.fish-name {
  text-align: center;
}

.buttons-section {
  display: flex;
  column-gap: 4px;
  flex-direction: row;
  justify-content: center;
}

.inputs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 16px;
  width: 50%;
}
