<div class="modal-header">
  <h4 class="modal-title">Add Fish to {{ tank.tankName }}</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <span class="loading-icon" *ngIf="!contentLoaded">
    <app-loading-spinner></app-loading-spinner>
  </span>

  <!-- Select a fish -->
  <div class="select-fish-section" *ngIf="!fishChosen">
    <h5>Choose a fish</h5>

    <div class="fish-image-wrapper">
      <img src="assets/goldfish-image.png" class="fish-image" />
    </div>
    <h5 class="fish-name">Goldfish</h5>

    <div class="next-button">
      <button (click)="onSelectFishType('goldfish')" class="btn btn-primary">
        Next
      </button>
    </div>
  </div>

  <!-- Name the fish -->
</div>
