.select-fish-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.next-button {
  display: flex;
  justify-content: center;
}

.fish-image-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.fish-image {
  width: 50%;
}
