// Color pallete https://coolors.co/171614-e5decf-8d5536-4f4a36
$navBarColor: #171614;
$backgroundColor: #e5decf;
$highlightColor: #b86027;
$lightHighlightColor: #c36629;
$fontColor: #4f4a36;
$lightest: #fff;
$secondaryColor: #2aa7cc;
$secondaryLighterColor: #2eb5de;
