<div class="tank">
  <app-fish-tank-header></app-fish-tank-header>
  <app-tank-info
    [userEmail]="authService.userEmail"
    [userId]="authService.userId"
    [tankUserIsViewing]="tankUserIsViewing"
    [tanks]="tanks"
    (toggleFishControls)="showFishControls = $event"
  ></app-tank-info>

  <div
    *ngIf="tankUserIsViewing && showFishControls"
    @fadeIn
    @fadeOut
    class="tank-info-section"
  >
    <app-fish-stats-section [tank]="tankUserIsViewing"></app-fish-stats-section>
  </div>

  <ng-container *ngIf="tankUserIsViewing">
    <!-- TODO I can possibly do a rotation like this: 'transform': 'rotate(' + fish.rotation + 'deg)' -->
    <div
      *ngFor="let fish of tankUserIsViewing.fishes"
      [ngSwitch]="fish.fishType"
      [ngStyle]="{
        'left.px': fish.xPosition,
        'top.px': fish.yPosition,
      }"
      class="fish-container"
    >
      <app-goldfish
        *ngSwitchCase="'goldfish'"
        class="fish"
        [fishName]="fish.fishName"
        [fishStatus]="fish.fishStatus"
      ></app-goldfish>

      <span class="fish-info-section">
        <p>{{ fish.fishName }}</p>
      </span>
    </div>
  </ng-container>
</div>
