@import "../../../styles.scss";

.tank {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-image: linear-gradient($secondaryLighterColor, $secondaryColor);
  height: calc(100vh);
  width: 100vw;
  position: relative;
}

.tank-info-section {
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  z-index: 2;
}

.fish-container {
  z-index: 1;
  pointer-events: none;
  // border: 2px solid red;
  position: absolute;
  // border: 2px solid red;
  // TODO might want to make this dynamic
  width: 100px;
  height: 100px;
}
