@import "../../../styles.scss";

.fish-tank {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  height: 400px;
  background-image: linear-gradient($secondaryLighterColor, $secondaryColor);
  width: 90%;
}
