<div class="tank">
  <app-fish-tank-header
    [tankUserIsViewing]="tankUserIsViewing"
    [tanks]="tanks"
  ></app-fish-tank-header>

  <div
    *ngIf="tankUserIsViewing && showFishControls"
    @fadeIn
    @fadeOut
    class="tank-info-section"
  ></div>

  <ng-container *ngIf="tankUserIsViewing">
    <!-- TODO I can possibly do a rotation like this: 'transform': 'rotate(' + fish.rotation + 'deg)' -->
    <div
      *ngFor="let fish of tankUserIsViewing.fishes"
      [ngSwitch]="fish.fishType"
      [ngStyle]="{
        'left.px': fish.xPosition,
        'top.px': fish.yPosition,
      }"
      class="fish-container"
      (click)="showFishStats(fish)"
    >
      <app-goldfish
        *ngSwitchCase="'goldfish'"
        class="fish"
        [fish]="fish"
      ></app-goldfish>

      <app-mermaid
        *ngSwitchCase="'mermaid'"
        class="fish"
        [fish]="fish"
      ></app-mermaid>

      <span class="fish-info-section">
        <!-- TODO I can make these emojis be different for each fish somehow. I can do that by componentizing the fish section -->
        <span [ngSwitch]="fish.fishStatus">
          <span *ngSwitchCase="'Happy'">😀</span>
          <span *ngSwitchCase="'Hungry'">🍗</span>
          <span *ngSwitchCase="'Dead'">☠️</span>
        </span>
        <p>{{ fish.fishName }}</p>
      </span>
    </div>
  </ng-container>

  <div class="tank-footer">
    <button class="btn btn-primary add-fish-button" (click)="addFish()">
      Add Fish
      <fa-icon class="accept-button" [icon]="iconService.faAdd"></fa-icon>
    </button>
  </div>
</div>
